numpy
aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow
psutil
pykeyboard
git+https://github.com/pytgcalls/pytgcalls@f8452a50ab7c7d98fe7ca0cb5d4bd8e27b12a8cc
ntgcalls==1.2.1
git+https://github.com/KurimuzonAkuma/pyrogram@aa9b1072e4e4106bbd463c09642a419e5081f2bf
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
python-dotenv
urllib3
pyyaml
requests
httpx[http2]
speedtest-cli
spotipy
googlesearch-python
tgcrypto
git+https://github.com/Vivekkumar-IN/TheApi@main
